{% extends "base.html" %}


{% block media %}
    <link rel="stylesheet" type="text/css" href="{{ static('admin/css/forms.css') }}">
    {{ form.media.css }}

    <style>
        .help {

            color: #999 !important;
        }
        .help:before {
            font-family: FontAwesome;
            content: "\f05a";
        }
        .module h2 {
            font-size: 16px;
            line-height: 1.4;
            font-weight: 600;
            padding: 8px 12px;
            border-width: 0 0 1px 0;
            border-style: solid;
        }
    </style>
    
{% endblock %}

{% block js_media %}

    {{ form.media.js }}

{% endblock %}

{% block body %}
    <form id="problem-create-panel" action="" method="post" class="form-area">
        {% csrf_token %}
        <div>
        <fieldset class="module aligned">
        {% for item in form %}
            {% if item.id_for_label %}
            <div class="form-row field-{{ str(item.id_for_label).split('id_')[1] }}">
                <div>
                <label class="required" for="{{ item.id_for_label }}"> {{ item.label }} </label>
                {{ item }}
                {% if item.help_text %}
                    <div class="help">
                        {{ item.help_text }}
                    </div>
                {% endif %}
                </div>
            </div>
            {% endif %}
        {% endfor %}
        </fieldset>
        <fieldset class="module aligned">
            <h2>Language</h2>
            <div class="related-widget-wrapper">
                <div class='form-row field-allowed_languages'>
                    <label class="required"> {{ form.allowed_languages.label }} </label>
                    {{ form.allowed_languages }}
                </div>
            </div>
        </fieldset>
        <button style="float:right;" type="submit">{{ _('Create!') }}</button>
        </div>
    </form>
{% endblock %}
